




#glitch-title {
    animation-name: glitch;
    animation:glitch ease-in-out 4s;
}

@keyframes glitch {
    0% {opacity:0;}
    5% {opacity: 0.5;}
    10% {opacity:0.85}
    25% {opacity: 0.2}
    50% {opacity: 0.35;}
    60% {opacity: 0.9;}
    75% {opacity: 0.75;}
    100% {opacity:1;}
}